/* Header.css */
.header {
    background: #ff4500;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    padding: 0;
  }
  
  .header p {
    margin: 0;
    padding: 5px 0;
  }
  